@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.parentbox {
    display: flex;
    flex-direction: column;
}
.box {
    width: 100%;
}
.children1 {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.664);
}
.children2 {
    background-color: rgb(24, 24, 24);
    padding: 90px 0;
    margin: -1px 0;
}
.children3 {
    background-color: rgb(255, 255, 255);
}
.children4 {
    margin: -1px 0; 
    background-color: #fff;
}
.children5 {
    background: url("images/background-pricelist.jpg") no-repeat center center/cover;
    background-position-x: 100%;
    height: 500px;
}
.children6 {
    background-color: rgb(24, 24, 24);
    margin: -1px 0;
}
.children7 {
    background-color: rgb(24, 24, 24);
    color: white;
    width: 100%;
    margin: -1px 0;
    padding-bottom: 20px;
}
.children8 {
    background-color: rgb(24, 24, 24);
    width: 100%;
    padding-bottom: 45px;
}
.children9 {
    background-color: rgb(24, 24, 24);
    width: 100%;
    margin: -1px 0;
    padding-bottom: 30px;
}
/*------------MOBILE DEVICES STARTPAGE--------------*/


/* NAVBAR */
.navbar {
    position: fixed;
    width: 100%;
    font-size: 18px;
    background: rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 1;
}
 .masterfade-logo-for-mobile-devices img {
    width: 70px;
}
.navbar .main-nav #logo-for-desktop {
    display: none;
}
.main-nav {
    list-style-type: none;
}
.nav-links
{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.main-nav li {
    text-align: center;
    margin: 15px auto;
}
.masterfade-logo-for-mobile-devices {
    display: inline-block;
    font-size: 22px;
    margin-top: 5px;
    margin-left: 20px;
}
.navbar-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; 
    color: rgba(216, 174, 112, 0.8);
    font-size: 24px;
}
.main-nav {
    list-style-type: none;
    display: none;
}
.active {
    display: block;
}
/*VIDEO BACKGROUND */ 
.background {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
}
#myvideo {
    position: relative;
    z-index: -1;
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
/* WELCOMEBOX  */
.welcome-box {
    position: relative;
    top: 70px;
    width: 80%;
    margin: 0px auto;
    text-align: center;
}
.welcome-box h1 {
    font-size: 38px;
    font-weight: 800;
    text-shadow: 3px 2px #000;
    color: rgba(216, 174, 112, 0.8);
    margin: 90px 0;
}
.btn {
    display: inline-block;
    background: rgba(51, 51, 51, 0.87); color: rgba(216, 174, 112, 0.8);
    font-size: 26px;
    padding: 7px 25px;
    margin: 100px 0;
    outline: none;
    text-decoration: none;
    border: 1px solid rgba(216, 174, 112, 0.8);
}
/* ABOUT US */
.about-us {
    margin: 0 auto;
    text-align: center;
}
.about-us h1 {
    font-size: 28px;
}
.about-us p {
    padding: 30px;
    line-height: 35px;
    font-size: 20px;
    color: #fff;
}
.about-us img {
    display: inline-block;
    padding-left: 50px;
}
/* IMG WRAPPER GALLERY */
.image-wrapper {
    
    display: flex;
  }
.image-fig {
    width: 100%;
    height: 100%;
}
.image-fig:hover {
    opacity: 100%;
}
.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*TO BOOKING*/
.to-book {
    text-align: center;
    padding-top: 30px;
}
.to-book h1, p {
    color: rgba(0, 0, 0, 0.87);
}
.to-book h1 {
        font-size: 28px;
}
.to-book p {
    line-height: 35px;
    font-size: 20px;
    padding: 30px;
}
.to-book .btn {
    display: inline-block;
    font-size: 20px;
    margin: 50px 0;
    background: #000;
    border: unset;
    color: white;
}
/* PRICE BOX*/
.pricebox {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    line-height: 33px;
}
.pricebox h1 {
    font-size: 28px;
    padding: 20px;
    text-align: center;
    color: rgba(216, 174, 112, 0.8);
}
.pricebox table span {
    letter-spacing: 3px;
}
.pricebox #speciell td {
    line-height: initial;
    font-size: 14px;
}
.pricebox .td {
    color: rgba(216, 174, 112, 0.8);
}
.price-table-desktop {
    display: none;
}
.price-table-mobile #hr-mobile {
    margin-bottom: 5px;
}
/*CONTACT US*/
.contact-us-box {
    width: 100%;
}
.contact-us-box h1 {
    padding: 35px;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
}
.contact-us-textbox {
    width: 90%;
    line-height: 35px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.contact-us-textbox p{
    color: white;
}
.children7 .btn {
    display: inline-block;
    position: relative;
    left: 30%;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    background: rgb(255, 255, 255);
    border: unset;
    color: black;
}
/* GOOGLE MAPS */
.google-maps iframe{
    display: block;
    margin: 0 auto;
    width: 80%;
}
#table-title {
    font-size: 20px;
}
/* CONTACT US FLEX BOX*/
.flexbox {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
}
.boxes1 {
    padding: 10px;
    flex: 50%;
}
.boxes1 table {
    margin: 0 auto;
}
.boxes1 tr > * + * {
    padding-left: 1em;
  }
.boxes2 {
    padding: 10px;
    flex: 50%;
}
.text-decoration  {
    text-decoration: none;
    color:rgb(158, 158, 158);
}
.boxes3 {
    background-color: rgb(24, 24, 24);
    padding: 10px;
    flex: 50%;
}
/*FOOTER*/
.footer {
    background-color: rgb(24, 24, 24);
}
.footer hr {
    border: 0;
    border-top: 2px solid hsla(0,0%,100%,.1);
    display: block;
    width: 250px;
    margin:auto;
    margin-bottom: 10px;
}
.footer-text {
    color:  rgba(255, 255, 255, 0.493);
    font-size: 0.8rem;
    text-align: center;
}

/*FLEX BOX TO COLUMNS ON MOBILE DEVICES*/
@media (max-width: 800px) {
    .flexbox,.image-wrapper {
        flex-direction: column;
    }
  }

/*--------------DESKTOP------------------*/
@media screen and (min-width: 768px) {


    /*FLEXBOXES*/

    .children1 {
        background-position-y: 40%; 
    }
    .children2{
        z-index: 1;
    }
    .children4 {
        height: 400px;
    }
    .children5 {
        background-position-y: 30%;
        height: 600px;
    }
    .children7 {
        height: 400px;
    }
    
/* NAVBAR */
    .masterfade-logo-for-mobile-devices {
        display: none;
    }
    .navbar {
        background: unset;
        border: unset;
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        align-items: center;
        position: relative;
        right: 10px;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0 auto;
        margin-top: 30px;
    }
    .main-nav li {
        margin: 0;
        font-size: 20px;
        font-weight: bolder;
        margin: auto;
    }
    .nav-links {
        margin-left: 40px;
    }
    .navbar-toggle {
        display: none;
    }
    .logo-desktop img{
        position: relative;
        width: 200px;
        top: 15px;
    }
    .navbar .main-nav #logo-for-desktop {
        display:initial;
    }
    .nav-links:hover {
        color: rgba(216, 174, 112, 0.8);
    }
    .nav-hover::after {
        content: '';
        display: block;
        width: 0;
        height: 4px;
        background: rgba(216, 174, 112, 0.8);
        margin-left: 40px;
        transition: width .3s;
    }
    .nav-hover:hover::after {
        width: 65%;
        transition: width .3s;
    }
    /* WELCOMEBOX */

    .welcome-box h1 {
        font-size: 78px;
        margin: unset;
    }
    
    .btn {
        font-size: 24px;
    }
    .btn-press {
        position: relative; top: 10px;
        transition: 0.05s !important;
        border-radius: 5px;
    }
    .btn-press:hover {
        top: 11px; box-shadow: 0px 0px rgba(216, 174, 112, 0.8);
    }
    /* ABOUT US */
    .about-us {
        width: 70%;
    }
    .about-us img {
        padding-left: 50px;
    }
    .to-book {
        width: 65%;
        margin: 0 auto;
        text-align: left;
        padding-top: 70px;
    }
    .about-us p {
        font-size: unset;
    }
    /*TO BOOKING*/
    .to-book p {
        padding: 0;
        font-size: unset;
    }
    .to-book .btn:hover {
        background: rgba(126, 120, 120, 0.438);
    }
    /*PRICE TABLE*/
    .price-table-mobile {
        display: none;
    }
    .price-table-desktop{
        display: unset;
    }
    .price-table-desktop #hr-desktop {
        width: 460px;
        margin-bottom: 20px;
        margin-left: auto ;
    }
    .pricebox {
        width: 50%;
    }
    .pricebox h1 {
        margin-left: 50%;
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 38px;
        color: rgba(216, 174, 112, 0.8);
    }
    .pricebox .td {
        color: rgba(216, 174, 112, 0.8);
    }
    .pricetable {
        margin-left: auto;
    }
    /*CONTACT US*/
    .contact-us-box h1 {
        font-size: 38px;
    }
    .contact-us-textbox {
        width: 45%;
        line-height: 35px;
        margin: unset;
        padding-bottom: 30px;
        padding-top: 50px;
        padding-left: 330px;
    }
    
    .contact-us-textbox p{
        text-align: unset;
    }
    .children7 .btn {
        left: unset;
        margin-top: 45px;
        padding: 4px 20px;
    }
    .children7 .btn:hover {
        background: rgb(187, 187, 187);
    }
    /*GOOGLE MAPS*/
    .google-maps {
        position: relative;
        width: 40%;
        left: 48%;
        top: -285px
    }
    /*FLEX BOXES*/
    .boxes3 ul {
        list-style-type: none;
    }
    .flexbox {
        width: 50%;
    }
    .text-decoration:hover {
        color: rgb(202, 202, 202);
    }
    /*FOOTER*/
    .footer br {
        display: none;
    }
    .footer hr {
        border-top: 2px solid hsla(0,0%,100%,.1);
        width: 500px;
    }

















    /* .opening-hours-box {
        height: 300px;
        position: relative;
        top: -150px
    }
    .opening-hours-box table {
        position: relative;
        margin-left: 600px;

    }
    .social-media-box {
        display: initial;
        position: relative;
        top: -243px;
        left: 16%;
    }
    .opening-hours-box a {
        text-decoration: none;
        color: white;
    }
    .opening-hours-box a:hover {
        color: rgb(187, 187, 187);
    }
    .email-box {
        display: unset;
        position: relative;
        top:-230px;
        left: 16%;
        
    }
    .email-box a {      
        color: rgb(187, 187, 187);
    }
    .number-box {
       position: relative;
       top: -460px;
       left: 35%;
       
    } */

    




}
    

